button {
    font-size: 0.9rem;
    padding: 0.4rem;
    border: solid 3px var(--secondary);
    background: var(--third-c);
    font-weight: 600;
}

button:hover {
    background-color: var(--fourth-c);
    box-shadow: 0 0 2px 2px var(--secondary);
}

.form__button {
    margin: 1rem;
}

.profile__button {
    text-align: center;
}

