.card {
    background: #fff1e6;
    padding: 0.5rem;
    grid-gap: 0.5rem;
    border: solid 1px black;
    margin: 1rem;
    text-align: center;
    position: relative; 
}

.card__headline {
    color: var(--secondary);
    font-size: 1.7rem;
    padding: 0.5rem;
}

.card__bookmark {
    font-size: 2.5rem;
    position: absolute;
    right: 10px;
    top: -10px;
}

.card__bookmark.fas, .card__bookmark.far {
    color: var(--secondary);
    background-color: var(--third-c);
}

.card__bookmark.fas:hover, .card__bookmark.far:hover {
    transform: scale(1.1);
}

.card__question {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.card__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0; 
}

.card__tags li {
    background: var(--secondary);
    list-style: none;
    padding: 0.3rem;
    font-size: 1rem;
    margin: 1rem;
}