.card {
    background: #fff1e6;
    padding: 0.5rem;
    grid-gap: 0.5rem;
    border: solid 1px black;
    margin: 0.5rem;
    text-align: center;
}

.card__headline {
    color: var(--secondary);
    font-size: 1.7rem;
    padding: 0.5rem;
}

.card__question {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.card__button {
    font-size: 0.9rem;
    padding: 0.4rem;
    background-color: var(--fourth-c);
    border: solid 2px var(--secondary);
}

.card__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0; 
}

.card__tags li {
    background: var(--secondary);
    list-style: none;
    padding: 0.3rem;
    font-size: 1rem;
    margin: 1rem;
}