.footer {
    background: var(--primary);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__nav__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.footer__nav__list li {
    list-style: none;
}

.fas {
    color: var(--fourth-c);
}


