.main__headline {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    background: var(--secondary);
    margin: 1rem;
    background-image: linear-gradient(45deg, var(--secondary), var(--fourth-c))
}

header {
    background-color: var(--primary);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.header__headline {
    text-align: center;
    color: var(--fourth-c);
    padding: 1rem 0;
    font-size: 2.8rem;
}
