.main__headline {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    background: var(--secondary);
    margin: 0.5rem;
    background-image: linear-gradient(45deg, var(--secondary), var(--fourth-c))
}

header {
    background-color: var(--primary);
}

.header__headline {
    text-align: center;
    color: var(--fourth-c);
    padding-top: 1rem;
    font-size: 2.8rem;
}
