:root {
  --primary: #2a9d8f;
  --secondary: #e76f51;
  --third-c: #fff1e6;
  --fourth-c: #ffcc4d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2a0944;
    --secondary: #3b185f;
    --third-c: #a12568;
    --fourth-c: #fec260;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: 'NTR', sans-serif;
}

main {
  margin-top: 110px;
  margin-bottom: 110px;
}
